<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
version="2.5">
    <security-constraint>
		  <web-resource-collection>
		    <web-resource-name>Admin</web-resource-name>
		    <url-pattern>/actions/admin/*</url-pattern>
		  </web-resource-collection>
		  <web-resource-collection>
		    <web-resource-name>AdminHome</web-resource-name>
		    <url-pattern>/menu/adminmenu.jsp</url-pattern>
		  </web-resource-collection>
		  <auth-constraint>
		    <role-name>admin</role-name>
		  </auth-constraint>
	</security-constraint>
    <security-constraint>
		  <web-resource-collection>
		    <web-resource-name>User</web-resource-name>
		    <url-pattern>/actions/user/*</url-pattern>
		  </web-resource-collection>
		  <web-resource-collection>
		    <web-resource-name>UserHome</web-resource-name>
		    <url-pattern>/menu/usermenu.jsp</url-pattern>
		  </web-resource-collection>
		  <auth-constraint>
		    <role-name>user</role-name>
		  </auth-constraint>
	</security-constraint>
    <session-config>
        <session-timeout>30</session-timeout> 
        <cookie-config>
            <http-only>false</http-only>
        </cookie-config>
    </session-config>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>service.auth.LoginServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usersignup</servlet-name>
        <servlet-class>service.auth.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersignup</servlet-name>
        <url-pattern>/auth/user/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>service.auth.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>transaction</servlet-name>
        <servlet-class>service.user.Transaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transaction</servlet-name>
        <url-pattern>/user/transaction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>withdraw</servlet-name>
        <servlet-class>service.user.Withdraw</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>withdraw</servlet-name>
        <url-pattern>/user/withdraw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>otp</servlet-name>
        <servlet-class>service.auth.Otp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>otp</servlet-name>
        <url-pattern>/auth/user/otp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>evalauth</servlet-name>
        <servlet-class>service.auth.EvalAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>evalauth</servlet-name>
        <url-pattern>/auth/user/secret</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>record</servlet-name>
        <servlet-class>service.record.GenerateRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>record</servlet-name>
        <url-pattern>/record/generate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminsignup</servlet-name>
        <servlet-class>service.auth.AdminSignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminsignup</servlet-name>
        <url-pattern>/auth/admin/signup</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/auth/login.jsp</form-login-page>
        </form-login-config>
    </login-config>
    <!-- API ROUTES -->
    <!-- Admin API Routes  -->
    <servlet>
        <servlet-name>alltransactionsapi</servlet-name>
        <servlet-class>api.admin.AllTransactions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alltransactionsapi</servlet-name>
        <url-pattern>/api/admin/transactions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>allusersapi</servlet-name>
        <servlet-class>api.admin.AllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allusersapi</servlet-name>
        <url-pattern>/api/admin/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchuserapi</servlet-name>
        <servlet-class>api.admin.SearchUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchuserapi</servlet-name>
        <url-pattern>/api/admin/searchuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>transactionbydateapi</servlet-name>
        <servlet-class>api.admin.TransactionByDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transactionbydateapi</servlet-name>
        <url-pattern>/api/admin/transactionbydate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>transactionbyaccnoapi</servlet-name>
        <servlet-class>api.admin.TransactionByAccno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transactionbyaccnoapi</servlet-name>
        <url-pattern>/api/admin/transactionbyaccno</url-pattern>
    </servlet-mapping>
    <!-- User Routes -->
    <servlet>
        <servlet-name>getuserbalanceapi</servlet-name>
        <servlet-class>api.user.GetUserBalance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getuserbalanceapi</servlet-name>
        <url-pattern>/api/user/getbalance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewtransactions</servlet-name>
        <servlet-class>api.user.ViewAllTransactions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewtransactions</servlet-name>
        <url-pattern>/api/user/viewtransactions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>maketransactionapi</servlet-name>
        <servlet-class>api.user.MakeTransactionApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>maketransactionapi</servlet-name>
        <url-pattern>/api/user/maketransaction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>withdrawalapi</servlet-name>
        <servlet-class>api.user.WithdrawApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>withdrawalapi</servlet-name>
        <url-pattern>/api/user/withdraw</url-pattern>
    </servlet-mapping>
    <!-- AUTH APIS -->
    <servlet>
        <servlet-name>isauthenticated</servlet-name>
        <servlet-class>api.auth.IsLoggedIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>isauthenticated</servlet-name>
        <url-pattern>/api/auth/isloggedin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>api.auth.LoginApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/api/auth/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MFA</servlet-name>
        <servlet-class>api.auth.MFA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MFA</servlet-name>
        <url-pattern>/api/auth/mfa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>api.auth.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/api/auth/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>otpverify</servlet-name>
        <servlet-class>api.auth.SignUpOTPVerify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>otpverify</servlet-name>
        <url-pattern>/api/auth/otpverify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutapi</servlet-name>
        <servlet-class>api.auth.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutapi</servlet-name>
        <url-pattern>/api/auth/logout</url-pattern>
    </servlet-mapping>
    <!-- Filter Configuratilons -->
    <!-- Admin Filter -->
    <filter>
        <filter-name>adminFilter</filter-name>
		<filter-class>api.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
	   <filter-name>adminFilter</filter-name>
	   <url-pattern>/api/admin/*</url-pattern>
	</filter-mapping>
    <!-- User Filter -->
    <filter>
        <filter-name>userFilter</filter-name>
		<filter-class>api.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
	   <filter-name>userFilter</filter-name>
	   <url-pattern>/api/user/*</url-pattern>
	</filter-mapping>
</web-app>